{% extends "base.html" %} {% block content %}
<div
  class="bg-gray-700/60 backdrop-blur-sm text-white mx-auto p-2 mt-20 mb-4 rounded-xl border border-white"
  style="width: 800px"
>
  <div class="flex flex-col gap-2">
    <img
      src="{{postagem.foto.url}}"
      alt="Foto do Post"
      class="rounded-xl foto_postagem"
    />
    {% comment %} Infos {% endcomment %}
    <div class="flex flex-col gap-2 ml-2">
      {% comment %} Info Autor e Data {% endcomment %}
      <div class="flex gap-2 items-center">
        <img
          src="{{postagem.autor.foto.url}}"
          alt="foto do autor"
          class="rounded-full w-20"
        />
        <div class="flex flex-col">
          <span>{{postagem.autor.username}}</span>
          <span class="text-sm"
            >Postagem de {{postagem.data_adicao | date:'d/m/y'}}</span
          >
        </div>
      </div>
      {% comment %} Categorias {% endcomment %}
    </div>
    <h1 class="ml-4 text-4xl font-bold">{{postagem.titulo}}</h1>
    <div class="flex gap-2 ml-4">
      {% for cts in postagem.categorias.all %}
      <a
        href="{% url 'blog:detalhe_categoria' cts.pk %}"
        class="bg-red-300 hover:bg-red-600 text-gray-600 hover:text-gray-200 font-semibold px-1 rounded transition ease-in-out duration-700"
        >{{cts.titulo}}</a
      >
      {% endfor %}
    </div>
    <div class="text-xl ml-4">
      <p>{{postagem.texto|safe}}</p>
      {% comment %} Validacao Visual para Editar e Apagar {% endcomment %}
      <div class="flex gap-2 justify-center mt-2">
        {% if request.user.id == postagem.autor.id %}
        <a
          href="{%  url 'blog:atualizar_post' postagem.pk %}"
          class="bg-blue-600 hover:bg-blue-800 text-white hover:text-gray-200 font-semibold rounded-xl text-2xl px-2 py-1 transition ease-in-out duration-700"
          >Editar</a
        >
        <a
          href="{%  url 'blog:deletar_post' postagem.pk %}"
          class="bg-red-600 hover:bg-red-800 text-white hover:text-gray-200 font-semibold rounded-xl text-2xl px-2 py-1 transition ease-in-out duration-700"
          >Deletar</a
        >
        {% else %} {% if request.user.admin %}
        <a
          href="{%  url 'blog:atualizar_post' postagem.pk %}"
          class="bg-blue-600 hover:bg-blue-800 text-white hover:text-gray-200 font-semibold rounded-xl text-2xl px-2 py-1 transition ease-in-out duration-700"
          >Editar</a
        >
        <a
          href="{%  url 'blog:deletar_post' postagem.pk %}"
          class="bg-red-600 hover:bg-red-800 text-white hover:text-gray-200 font-semibold rounded-xl text-2xl px-2 py-1 transition ease-in-out duration-700"
          >Deletar</a
        >
        {% else %} {% endif %} {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
