{% extends "base.html" %} {% block content %}
<div class="bg-blue-300 mt-24 p-4 mx-auto rounded-xl border-2 border-white">
  <h1
    class="text-3xl font-bold uppercase p-2 text-center border-b-2 border-gray-900"
  >
    Registro
  </h1>
  <form method="POST" class="text-xl font-semibold">
    <div>
      {% csrf_token %} {{form.as_p}}
      <div class="flex gap-2 justify-center mt-2">
        <button
          class="bg-red-700 hover:bg-gray-900 text-white px-2 py-1 text-2xl rounded-xl transition ease-in-out duration-700"
        >
          Registrar
        </button>
        <a
          class="bg-gray-900 hover:bg-red-700 text-white px-2 py-1 text-2xl rounded-xl transition ease-in-out duration-700"
          href="{% url 'homepage' %}"
          >Cancelar</a
        >
      </div>
    </div>
  </form>
  <div class="text-center mt-2 border-t-2 border-gray-900 pt-2">
    <a
      class="text-blue-600 hover:text-gray-900 font-semibold px-2 transition ease-in-out duration-700"
      href="{% url 'login' %}"
      >Já tem uma conta? Logue por aqui!</a
    >
  </div>
</div>
{% endblock content %}
