{% extends "base.html" %} {% block content %}
<div
  class="bg-gray-700/60 xl:w-1/2 md:w-2/3 backdrop-blur-sm text-white mt-20 p-4 mx-auto rounded-xl border-2 border-white"
>
  <h1
    class="text-3xl font-bold uppercase p-2 text-center border-b-2 border-white"
  >
    Registro
  </h1>
  <form
    method="POST"
    class="text-md font-semibold"
    enctype="multipart/form-data"
  >
    <div>
      {% csrf_token %} {{form.as_p}}
      <div class="flex gap-2 justify-center mt-2">
        <button
          class="bg-red-600 hover:bg-red-800 text-white hover:text-gray-200 px-2 py-1 text-xl rounded-xl transition ease-in-out duration-700"
        >
          Registrar
        </button>
        <a
          class="bg-blue-600 hover:bg-blue-800 text-white hover:text-gray-200 px-2 py-1 text-xl rounded-xl transition ease-in-out duration-700"
          href="{% url 'homepage' %}"
          >Cancelar</a
        >
      </div>
    </div>
  </form>
  <div class="text-center mt-2 border-t-2 border-white pt-2">
    <a
      class="text-red-400 hover:text-red-600 font-semibold px-2 transition ease-in-out duration-700"
      href="{% url 'login' %}"
      >Já tem uma conta? Logue por aqui!</a
    >
  </div>
</div>
{% endblock content %}
