body {
  background-image: url("../images/projeto/bg-image.jpg");
  background-color: #11182796;
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.posicionar_items {
  height: 850px;
}

@media only screen and (max-height: 801px) {
  .posicionar_items {
    height: 650px;
  }
}

.foto_perfil {
  width: 200px;
}

.foto_postagem {
  width: 800px;
  height: 400px;
}
