{% extends "base.html" %} {% block content %}
<div class="w-1/2 mx-auto">
  <form method="POST" class="bg-blue-300 rounded-xl p-2">
    <h1 class="text-3xl text-center m-2 text-gray-900">{{acao}}</h1>
    {% csrf_token %}
    <div class="p-2 text-white">{{form.as_p}}</div>
    <div class="mt-2 flex gap-2 justify-center text-center">
      <button class="p-2 w-24 text-xl bg-red-700 text-blue-300 rounded-xl">
        {{botao}}
      </button>
      <a href="#" class="p-2 w-24 text-xl bg-gray-900 text-blue-300 rounded-xl"
        >Cancelar</a
      >
    </div>
  </form>
</div>
{% endblock content %}
