{% extends "base.html" %} {% block content %}
<div class="xl:w-1/2 md:w-2/3 mx-auto mt-20">
  <form
    method="POST"
    class="bg-gray-700/60 backdrop-blur-sm rounded-xl border border-white p-2"
  >
    <h1
      class="text-3xl font-semibold uppercase underline text-center m-2 text-white"
    >
      {{acao}}
    </h1>
    {% csrf_token %}
    <div class="p-2 text-white text-2xl font-semibold">{{form.as_p}}</div>
    <div class="mt-2 flex gap-2 justify-center text-center">
      <button
        class="p-2 w-24 text-xl bg-red-600 hover:bg-red-800 text-white hover:text-gray-200 rounded-xl transition ease-in-out duration-700"
      >
        {{botao}}
      </button>
      <a
        href="{% url 'blog:listar_categorias' %}"
        class="p-2 w-24 text-xl bg-blue-600 hover:bg-blue-800 text-white hover:text-gray-200 rounded-xl transition ease-in-out duration-700"
        >Cancelar</a
      >
    </div>
  </form>
</div>
{% endblock content %}
