{% extends "base.html" %} {% block content %}
<div
  class="flex flex-col gap-4 items-center justify-center m-2 posicionar_items"
>
  <h1
    class="text-white text-6xl font-bold underline uppercase bg-gray-700/60 p-2 px-4 backdrop-blur-sm"
  >
    Categorias
  </h1>
  {% if request.user.is_authenticated and request.user.admin %}
  <div>
    <a
      href="{% url 'blog:criar_categoria' %}"
      class="bg-red-600 hover:bg-red-800 text-white hover:text-gray-200 px-2 py-1 text-2xl"
      >Nova Categoria</a
    >
  </div>
  {% else %} {% endif %}

  <div class="flex flex-wrap gap-2 justify-center">
    {% for cts in categorias %}
    <div
      class="bg-gray-700/60 backdrop-blur-sm text-white rounded-xl p-2 mt-4 border border-white"
    >
      <h1 class="text-2xl font-semibold underline">{{cts.titulo}}</h1>
      <p>{{cts.descricao | slice:":50"}}...</p>
      <div class="flex gap-2 mt-2">
        <a
          href="{% url 'blog:listar_posts_por_categoria' cts.titulo %}"
          class="bg-red-600 hover:bg-red-800 text-white hover:text-gray-200 px-2 py-1 rounded-sm"
          >Posts</a
        >
        <a
          href="{% url 'blog:detalhe_categoria' cts.pk %}"
          class="bg-blue-600 hover:bg-blue-800 text-white hover:text-gray-200 px-2 py-1 rounded-sm"
          >Detalhes</a
        >
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
