{% load static %}
<header class="text-gray-900 body-font bg-blue-300">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
  >
    <nav
      class="flex lg:w-2/5 flex-wrap items-center text-red-600 text-md font-semibold md:ml-auto"
    >
      <a
        href="{% url 'homepage' %}"
        class="mr-5 hover:text-blue-300 hover:bg-gray-900 transition ease-in-out duration-700 p-1 rounded-xl"
        >Home</a
      >
      <a
        href="{% url 'blog:listar_posts'%}"
        class="mr-5 hover:text-blue-300 hover:bg-gray-900 transition ease-in-out duration-700 p-1 rounded-xl"
        >Postagens</a
      >
      <a
        href="{% url 'blog:listar_categorias' %}"
        class="mr-5 hover:text-blue-300 hover:bg-gray-900 transition ease-in-out duration-700 p-1 rounded-xl"
        >Categorias</a
      >
    </nav>
    <a
      href="{% url 'homepage' %}"
      class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-red-600 lg:items-center lg:justify-center mb-4 md:mb-0"
    >
      <img
        class="w-16 p-0 hover:animate-pulse"
        src="{% static 'images/projeto/techlogo.svg' %}"
        alt=""
      />
    </a>
    <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0 flex gap-2">
      {% if request.user.is_authenticated %}
      <a
        href="{% url 'logout' %}"
        class="inline-flex items-center text-blue-300 hover:text-gray-900 hover:border-2 hover:border-gray-900 font-semibold bg-gray-900 hover:bg-blue-300 border-0 py-1 px-3 focus:outline-none rounded text-base mt-4 md:mt-0 transition ease-in-out duration-700"
      >
        Logout
      </a>

      {% else %}
      <a
        href="{% url 'registro' %}"
        class="inline-flex items-center text-white hover:text-red-700 hover:border-2 hover:border-red-700 bg-red-700 hover:bg-blue-300 font-semibold border-0 py-1 px-3 focus:outline-none rounded text-base mt-4 md:mt-0 transition ease-in-out duration-700"
      >
        Registro
      </a>
      <a
        href="{% url 'login' %}"
        class="inline-flex items-center text-blue-300 hover:text-gray-900 hover:border-2 hover:border-gray-900 font-semibold bg-gray-900 hover:bg-blue-300 border-0 py-1 px-3 focus:outline-none rounded text-base mt-4 md:mt-0 transition ease-in-out duration-700"
      >
        Login
      </a>
      {% endif %}
    </div>
  </div>
</header>
